<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pan · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <nav class="header" role="navigation">
        <section class="header__links">
          <%= link "Concerts", to: Routes.show_path(@conn, :index), class: "header__link" %>
          <%= link "Salles", to: Routes.venue_path(@conn, :index), class: "header__link" %>
          <%= link "Groupes", to: Routes.band_path(@conn, :index), class: "header__link" %>
        </section>
        <%= link "Omelette du Fromage", to: Routes.page_path(@conn, :index), class: "header__home" %>
        <section class="header__links">
          <%= if @current_user do %>
            <div class="header__link"><%= @current_user.username %></div>
            <%= link "Log out", to: Routes.session_path(@conn, :delete, @current_user), method: "delete", class: "header__link" %>
          <% else %>
            <%= link "Register", to: Routes.user_path(@conn, :new), class: "header__link" %>
            <%= link "Log in", to: Routes.session_path(@conn, :new, class: "header__link") %>
          <% end %>
        </section>
      </nav>
    </header>
    <main role="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
